<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">


<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>


<div class="container" align="center" id="password">
	<h2 class="success" style="padding-top: 50px; font-family: 'Raleway', sans-serif;">Your generated password is: </h2>
	<br>
	<h3 class="alert alert-warning" style="font-family: 'Lato', sans-serif;" id="pwd"> {{ password }}</h3>
	<br>
	<div class="copyButton" id="copyBtn">
	<button type="button" class="btn btn-info btn-clipboard" id="copybutton" data-clipboard-text="{{ password }}">Copy to Clipboard</button>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>

	<script>
	 var btn = document.getElementById('copybutton');
	    var clipboard = new ClipboardJS(btn);

	    clipboard.on('success', function(e) {
	        console.log(e);
	    });

	    clipboard.on('error', function(e) {
	        console.log(e);
	    });
	 </script>
	</div>
	<br><br>
	<a href="{% url 'home'%}" class="btn btn-success">Go back to Home Page</a>
</div>
